Source: libsomanetwork
Section: Soma Software
Priority: extra
Maintainer: Stuart Layton <slayton@mit.edu>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: libsomanetwork
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Soma networking libraries
