Source: libsomanetwork0
Priority: extra
Maintainer: Stuart Layton <slayton@mit.edu>
Build-Depends: debhelper (>= 7), cmake, cdbs, 
                libboost-thread1.37-dev, libboost-test1.37-dev, libboost-program-options1.37-dev,
                libboost1.37-dev, libboost-filesystem1.37-dev, libboost-system1.37-dev, libgtkmm-2.4-dev,
                libglibmm-2.4-dev, libsigc++-2.0-dev 
Standards-Version: 3.8.0
Section: libs
Homepage: http://soma.mit.edu/

Package: libsomanetwork-dev
Section: libdevel
Architecture: any
Depends: libsomanetwork0, ${misc:Depends}, ${shlibs:Depends}, libboost-thread1.37-dev, libboost-test1.37-dev, 
                libboost-program-options1.37-dev, libboost1.37-dev, libboost-filesystem1.37-dev, 
                libboost-system1.37-dev, libgtkmm-2.4-dev, libglibmm-2.4-dev, libsigc++-2.0-dev
Description: Soma networking library headers
 The Soma network library, libsomanetwork, is a high-speed
 multithreaded c++ library that serves as the backbone for most
 compiled Soma apps. The library handles packet encoding and decoding,
 queuing, out-of-order handling, retransmission, and presents a simple
 interface for taking data on and off the wire. It is licensed under
 the LGPL.


Package: libsomanetwork0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Soma networking library
 The Soma network library, libsomanetwork, is a high-speed
 multithreaded c++ library that serves as the backbone for most
 compiled Soma apps. The library handles packet encoding and decoding,
 queuing, out-of-order handling, retransmission, and presents a simple
 interface for taking data on and off the wire. It is licensed under
 the LGPL.


